@model GroceryHub.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="m-0 font-weight-bold" style="color: #89ab2a;">Details&nbsp;</p>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Icon)
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.Icon != null)
                        {
                            <img class="rounded img-fluid card-img-top w-100 d-block border" style="width: 198px;" src="data:image/png;base64,@Convert.ToBase64String(@Model.Icon)" />
                        }
                    </dd>
                </dl>
                <a class="btn btn-success btn-sm" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
